@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<h3>@ViewData["Iam"]</h3>
<h3>@ViewData["Message"]</h3>
<p>@ViewData["Email"]</p>
<p style="color:blueviolet">@ViewData["MotivationalPhrase"]</p>

<p style="color:crimson">Use this area to provide additional information.</p>
